@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #000000;
  --secondary: #f9f008;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-mono);
  --font-mono: var(--font-ibm-plex-mono);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
